{{ coredb }}:5432:{{ retailer_name }}_core{{ db_suffix }}:postgres:{{ coredb_pgpw }}
{{ opsdb }}:5432:{{ retailer_name }}_ops{{ db_suffix }}:postgres:{{ opsdb_pgpw }}
{{ coredb }}:5432:{{ retailer_name }}_core{{ db_suffix }}:rto:{{ coredb_rtopw }}
{{ opsdb }}:5432:{{ retailer_name }}_ops{{ db_suffix }}:rto:{{ opsdb_rtopw }}
{{ coredb }}:5432:{{ retailer_name }}_oc{{ db_suffix }}:postgres:{{ postgres_pgpw }}
{{ coredb }}:5432:postgres:postgres:{{ postgres_pgpw }}
