MCORE_RETAILER_ID={{ retailer_id }}
MCORE_ENVIRONMENT={{ mode }}

deploy_aws_ops_auditlogger=YES
wildfly_name=wildfly-{{ retailer_name }}
wildfly_maxheap={{ maxheap }}
wildfly_network=eth0
wildfly_cluster_name={{ cluster_mode }}-{{ retailer_name }}
jboss.socket.binding.port-offset=0

### CORE DB
db_core_user=app_{{ retailer_name }}_mcore
db_core_pwd=REPLACE_MCORE_APP_PW
db_core_host={{ coredb }}:5432
db_core_name={{ retailer_name }}_core{{ db_suffix }}

### OPS DB
db_ops_user=app_{{ retailer_name }}_mcore
db_ops_pwd=REPLACE_MCORE_APP_PW
db_ops_host={{ opsdb }}:5432
db_ops_name={{ retailer_name }}_ops{{ db_suffix }}

### OC DB
db_oc_user=app_{{ retailer_name }}_mcore
db_oc_pwd=REPLACE_MCORE_APP_PW
db_oc_host={{ coredb }}:5432
db_oc_name={{ retailer_name }}_oc{{ db_suffix }}

db_jdbc_driver=postgresql-42.2.1.jar

mcore_infinispan.file=mcore-infinispan.xml
#mcore_infinispan.file=mcore-infinispan-old.xml

### mcore-cluster.properties
#trace_logs.lookup_response=false
#trace_logs.matching_engine_trace=true
#autocomplete.strict_mode=false
autocomplete.max_suggestions=0
#autocomplete.log=false
#digitalreceipt.surpress_sending=false
digitalreceipt.events.mailgun.aws_queue_name={{ sqs_name }}
digitalreceipt.events.mailgun.aws_region_name={{ sqs_region }}
digitalreceipt.events.mailgun.aws_queue_receive_timeout=1000
digitalreceipt.events.mailgun.max_receive_duration=60000
digitalreceipt.events.mailgun.polling_interval=60000
#digitalreceipt.validation.freshaddress.enabled=true
#digitalreceipt.validation.freshaddress.connection_timeout=1000
#digitalreceipt.validation.freshaddress.read_timeout=1000
#digitalreceipt.validation.mailgun.enabled=true
#digitalreceipt.validation.mailgun.connection_timeout=1000
#digitalreceipt.validation.mailgun.read_timeout=1000
#digitalreceipt.validation.ecrebo.enabled=false
#digitalreceipt.validation.ecrebo.connection_timeout=1000
#digitalreceipt.validation.ecrebo.read_timeout=1000
#transactionservice.cache.enabled=true
#transactionservice.cache.expiry_in_seconds=3600

### System Properties in standalone-full.xml (not supported)
#system_property.digitalreceipt.getrecipients.enabled=true
system_property.digitalreceipt.getrecipients.domains.default="gmail.com hotmail.com icloud.com yahoo.com aol.com live.com me.com msn.com outlook.com ymail.com mac.com"
#system_property.digitalreceipts.validation.mailgun.enabled=true
#system_property.digitalreceipts.validation.mailgun.connection_timeout=1000
#system_property.digitalreceipts.validation.mailgun.read_timeout=1000
#system_property.digitalreceipts.validation.ecrebo.enabled=true
#system_property.digitalreceipts.validation.ecrebo.connection_timeout=1000
#system_property.digitalreceipts.validation.ecrebo.read_timeout=1000
#system_property.transactionservice.cache.enabled=true
#system_property.transactionservice.cache.expiry_in_seconds=3600
#system_property.mcore.digital_receipts.pretty_print_json=false
#system_property.mcore.transaction.pretty_print_json=false
#system_property.mcore.matching_engine_trace.pretty_print_json=false
#system_property.mcore.matching_engine_trace=on
#system_property.mcohannel.v1_7.ingore_unregistered_pos=false
system_property.images.backendUrl=https://d10yjphtj84q6u.cloudfront.net/{{ mode }}/{{ retailer_name }}
system_property.org.apache.cxf.logging.enabled=false
system_property.mcore.retailerId={{ retailer_id }}

### JNDI binding properties
digitalreceipt.sendgrid.api_key="not-used"
digitalreceipt.sendgrid.transactional_email_template_id="not-used"
digitalreceipt.ecrebo.validator.api_url="https://validation-api-dev.ecrebo.com/api/v1/validation/email"
digitalreceipt.ecrebo.validator.api_key="not-used"
digitalreceipt.mailgun.validator.api_url="https://api.mailgun.net/v3/address/validate"
digitalreceipt.mailgun.validator.api_key="not-used"
digitalreceipt.mailgun.domain_name="{{ retailer_name }}{{ digitalreceipt_domain }}.ecrebo.com"
digitalreceipt.sender_email="no-reply@{{ retailer_name }}{{ digitalreceipt_domain }}.ecrebo.com"
digitalreceipt.sender_name="{{ retailer_poshname }}"
digitalreceipt.email_subject="Your E-Receipt"
digitalreceipt.freshaddress_company="not-used"
digitalreceipt.freshaddress_contract="not-used"
digitalreceipt.wkhtmltopdf.command="/usr/local/bin/wkhtmltopdf --dpi 96"
digitalreceipt.wkhtmltopdf.filename="Your_{{ retailer_poshname }}_eReceipt_%barcode%_{{ retailer_id }}.pdf"

### System properties configured in /etc/default/wildfly-{{ retailer_name }}.conf
## MCORE
mcore.slots=coupon:2,cpg:2,message:1,logo_replace:1
mcore.v15.response.format=RawBase64Deflated
mcore.interpreter.enabled=true
mcore.interpreter.error_escpos_returned=true
mcore.interpreter.process.max=10
mcore.interpreter.process.timeout=1500
mcore.interpreter.path=$JBOSS_HOME/$JBOSS_MODE/Interpreter/start_pipe_server.sh
mcore.interpreter.log.path=$JBOSS_HOME/$JBOSS_MODE/log/interpreter
mcore.interpreter.configuration.path=$JBOSS_HOME/$JBOSS_MODE/Interpreter/configs
mcore.interpreter.log.level=6
## Quotient
mcore.external_offers_service.enabled={{ quotient_enabled }}
external_offers_service.quotient.lookup.time_limiter.duration=5000
external_offers_service.quotient.application_id={{ quotient_app_id }}
external_offers_service.quotient.uri=http://35.192.178.147
external_offers_service.quotient.private_key={{ quotient_private_key }}
external_offers_service.quotient.public_key={{ quotient_public_key }}
## mcoupload
com.ecrebo.mco.mcoupload.transfer.gdrive.permissions.readers=support-all@ecrebo.com\\;client-all@ecrebo.com\\;onboarding@ecrebo.com

### Environment variables configured in /etc/default/wildfly-{{retailer_name }}.conf
AWS_ACCESS_KEY_ID="{{ aws_access_key_id }}"
AWS_SECRET_KEY="{{ aws_secret_key }}"
